@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
* {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: 'Raleway', sans-serif;
    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
    -ms-transition: background 0.3s;
    -o-transition: background 0.3s;
    transition: background 0.3s;
    scroll-behavior: smooth;
}
.header {
    position: relative;
    max-width: 100%;
    margin: auto;
}
a {
    cursor: pointer;
    color: #000000;
    text-decoration: none;
}
.main {
    min-height: 92vh;
    padding: 0 0 1vh 0;
}
.container_menu {
    padding: 0;
    width: 100%;
    position: fixed;
    z-index: 10;
}
.header_menu {
    width: 40%;
}
.header_menu, .header_list {
    display: flex;
    margin: 0;
    list-style: none;
    justify-content: flex-end;
    height: 100%;
}
.text_menu {
    color: #ffffff;
    display: inline-block;
    font-size: 1.6vh;
    text-align: center;
    padding: 0 1.5vh;
}
.menu_main_text {
    display: inline-block;
    font-size: 1.6vh;
    text-align: center;
    width: inherit;
    height: 8vh;
    position: relative;
}
.inner {
    height: 4vh;
    width: inherit;
    position: absolute;
    text-align: center;
    top: 40%;
}
.logo {
    flex-grow: 1;
}
.main_menu {
    width: 10vw;
    position: relative;
}
.header_body {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    z-index:10;
}
.home_black {
    display: inline-block;
    height: 6vh;
    width: auto;
    padding: 1vh 0;
}
.home_mob_black {
    display: none;
}
.not_menu {
    display: flex;
    width: 60%;
    z-index: 10;
}
.dropdown {
    display: none;
    position: absolute; 
    list-style: none;
    text-align: left;
    width: 100%;
    left: 0;
}
.main_menu:hover > .dropdown {
    display: grid;
}
.dropdown_menu {
    margin-left: auto;
    margin-right: auto;
    width: inherit;
    float: none;
    display: list-item;
    padding: 1vh;
    text-align: center;
}
.footer {
    box-shadow: 0 -0.4em 5px rgba(122,122,122,0.2);
}
.contact_info {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding: 1.7vh 0;
    font-size: 1.7vh;
}
.adr_footer {
    width: 70%;
}
.connect_info {
    width: 30%;
    text-align: right;
}
.head_content_center {
    font-weight: bold;
    text-align: center;
    font-size: 3.8vh;
    padding: 5vh 0 3vh 0;
}
.content {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 10vh 0 3vh 0;
}
.ph {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    border-radius: 5%;
}
.dec {
    text-decoration: underline;
}
.header_burger_white, .header_burger_black {
    z-index: 11;
}
@media screen and (max-width: 1024px) {
    .header_body {
        width: 100%;
    }
    .home_black, .home_mob_black {
        padding: 1vh 1.5vh;
        height: 5vh;
    }
    .text_menu {
        font-size: 1.6vh;
    }
    .main_menu {
        width: 33.333%;
        height: 3.8vh;
    }
    .menu_main_text{
        width: 100%;
        text-align: center;
        height: 3.8vh;
    }
    .inner {
        top: 0;
        padding: 1.5vh 0;
        height: 2.5vh;
    }
    .main_menu:hover > .dropdown {
        top: 135%;
    }
    .header_burger_black {
        position: relative;
        width: 5vw;
        height: 2.3vh;
        margin: 0 6vw 0 0;
    }
    .header_burger_black:before, .header_burger_black:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 0.3vh;
        left: 0;
        background-color: #000000;
    }
    .header_burger_black:before {
        top: 0;
        transition: all 0.5s ease 0s;
    }
    .header_burger_black:after {
        bottom: 0;
        transition: all 0.5s ease 0s;
    }
   .header_burger_black span {
        background-color: #000000;
        position: absolute;
        left: 0;
        width: 100%;
        height: 0.3vh;
        top: 1vh;
        transition: all 0.5s ease 0s;
    }
    .header_menu {
        position: fixed;
        display: none;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transition: all 0.7s ease 0s;
    }
    .header_menu.active {
        display: inline;
    }
    .header_list {
        position: relative;
        padding: 7vh 0;
        width: 100%;
        justify-content: flex-start;
        z-index: 5;
    }
    .logo {
        z-index: 999;
        position: relative;
    }
    .header_burger_black.active:before {
        transform: rotate(45deg);
        transition: all 0.5s ease 0s;
        top: 1vh;
    }
    .header_burger_black.active:after {
        transform: rotate(-45deg);
        transition: all 0.5s ease 0s;
        bottom: 1vh;
    }
    .header_burger_black.active > span {
        transform: scale(0);
    }
    .contact_info {
        width: 80%;
        font-size: 1.3vh;
    }
    .head_content_center {
        font-size: 2.5vh;
        padding: 3vh 5vw 1vh 5vw;
    }
    .dropdown_menu {
        padding: 0.5vh;
    }
}
@media screen and (max-width: 425px) {
    .home_mob_black {
        display: inline-block;
    }
    .home_black {
        display: none;
    }
    .menu_main_text, .text_menu {
        font-size: 1.5vh;
    }
    .content {
        width: 100%;
    }
    .drpdwn {
        width: 130%;
        left: -15vw;
    }
}