@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
* {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: 'Raleway', sans-serif;
    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
    -ms-transition: background 0.3s;
    -o-transition: background 0.3s;
    transition: background 0.3s;
}
.header {
    position: relative;
    max-width: 100%;
    margin: auto;
}
a {
    cursor: pointer;
    color: #000000;
}
.container_menu {
    padding: 0;
    width: 100%;
    position: fixed;
    z-index: 7;
}
.header_menu .header_list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: flex-end;
}
.logo {
    flex-grow: 1;
}
.text_menu {
    color: #ffffff;
    display: inline-block;
    text-decoration: none;
}
.main_menu {
    width: 150px;
    text-align: center;
    padding: 32px 20px;
    position: relative;
}
.header_body {
    margin-left: auto;
    margin-right: auto;
    width: 1440px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}
.home, .home_black {
    height: 60px;
    width: auto;
    margin-right: 30px;
}
.home_black {
    display: none;
}
.main_menu {
    z-index: 3;
}
.dropdown {
    display: none;
    position: absolute; 
    list-style: none;
    margin: 29px 0 0 0;
    left: 0;
    z-index: -1;
}
.main_menu:hover > .dropdown {
    display: inherit;
}
.dropdown_menu {
    margin-left: auto;
    margin-right: auto;
    width: auto;
    float: none;
    display: list-item;
    text-align: center;
    padding: 10px 20px;
}
.footer {
    height: 80px;
    box-shadow: 0 -0.4em 5px rgba(122,122,122,0.2)
}
.contact_info {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding: 20px 0;
}
.adr_footer {
    width: 70%;
}
.connect_info {
    width: 30%;
}