@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
* {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: 'Raleway', sans-serif;
    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
    -ms-transition: background 0.3s;
    -o-transition: background 0.3s;
    transition: background 0.3s;
    scroll-behavior: smooth;
}
.header {
    position: relative;
    max-width: 100%;
    margin: auto;
}
a {
    cursor: pointer;
    color: #000000;
    text-decoration: none;
}
.main {
    min-height: 92vh;
    padding: 0 0 1vh 0;
}
.container_menu {
    padding: 0;
    width: 100%;
    position: fixed;
    z-index: 7;
}
.header_menu, .header_list {
    display: flex;
    margin: 0;
    list-style: none;
    justify-content: flex-end;
    height: 100%;
}
.logo {
    flex-grow: 1;
}
.text_menu {
    color: #ffffff;
    display: inline-block;
    font-size: 1.8vh;
    text-align: center;
}
.menu_main_text {
    width: inherit;
    height: 8vh;
    position: relative;
}
.inner {
    height: 4vh;
    width: inherit;
    position: absolute;
    text-align: center;
    top: 40%;
}
.main_menu {
    width: 10vw;
    position: relative;
}
.header_body {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}
.home, .home_black {
    height: 6vh;
    width: auto;
    padding: 1vh 0;
}
.home_black {
    display: none;
}
.main_menu {
    z-index: 3;
}
.dropdown {
    display: none;
    position: absolute; 
    list-style: none;
    text-align: left;
    left: 1;
    z-index: -1;
}
.main_menu:hover > .dropdown {
    display: inherit;
}
.dropdown_menu {
    margin-left: auto;
    margin-right: auto;
    width: auto;
    float: none;
    display: list-item;
    padding: 1vh 2vh;
    text-align: center;
}
.footer {
    box-shadow: 0 -0.4em 5px rgba(122,122,122,0.2);
}
.contact_info {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding: 1.7vh 0;
    font-size: 1.7vh;
}
.adr_footer {
    width: 70%;
}
.connect_info {
    width: 30%;
    text-align: right;
}
.head_content_center {
    font-weight: bold;
    text-align: center;
    font-size: 3.8vh;
    padding: 5vh 0 3vh 0;
}
.content {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 10vh 0 3vh 0;
}
.ph {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    border-radius: 5%;
}
.dec {
    text-decoration: underline;
}