.text {
    text-align: center;
    font-size: 3vh;
    font-weight: bold;
    padding: 1.5vh 0;
}
.logos {
    width: 12vw;
    aspect-ratio: 1/1;
}
.logo_table {
    width: 80%;
    padding: 2.5vh 0;
    margin-left: auto;
    margin-right: auto;
}
.row, .row_ {
    display: flex;
}
.item {
    background-color: #f1f1f1;
    width: 12vw;
    aspect-ratio: 1/1;
    padding: 1vw;
    margin: 1vw;
    border-radius: 5%;
}