.text {
    text-align: center;
    font-size: 2.5vh;
    font-weight: bold;
    padding: 1vh 0 2vh 0;
}
.del_items {
    display: flex;
    width: 80%;
    margin: 0 auto;
}
.del_item {
    display: grid;
    width: 33%;
    margin: 2vh;
    background-color: #f1f1f1;
    border-radius: 5%;
    text-align: center;
}
.del_item:hover {
    background-color: #cecece;
}
.name {
    padding: 1.5vh;
    font-weight: bold;
    font-size: 3.7vh;
}
.params {
    display: flex;
}
.param {
    padding: 0 1.5vh;
    font-size: 2.2vh;
}
.counts {
    display: flex;
}
.count {
    padding: 0.5vh 1.5vh 1vh 1.5vh;
    font-size: 2.1vh;
    font-weight: bold;
}
.photo {
    width: 90%;
    aspect-ratio: 3/2;
    margin: 1.5vh auto;
}