.head_content {
    font-weight: bold;
    font-size: 3.5vh;
    padding: 1.5vh 5%;
}
table {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 0;
    padding: 2vh 0;
}
.author {
    width: 25%;
    padding: 1.5vh;
    font-size: 1.8vh;
}
.name {
    width: 35%;
    padding: 1.5vh;
    font-size: 2vh;
    font-weight: bold;
    text-align: center;
}
.mag {
    width: 15%;
    padding: 1.5vh;
    font-style: italic;
    font-size: 1.5vh;
}
.link {
    width: 5%;
    padding: 1vh 2vh;
    align-items: center;
}
tr:nth-child(odd) {
	background-color: #f1f1f1;
}
.pdf {
    width: 3vh;
    height: auto;
}