.header {
    background-image: url(../bg.png);
    height: 100svh;
    background-size: cover;
    background-position: center;
}
.home, .home_black, .home_mob, .home_mob_black {
    height: 6vh;
    width: auto;
    padding: 1vh 0;
}
.home_black, .home_mob, .home_mob_black {
    display: none;
}
.container_name {
    width: 100%;
}
.head_content_center_index {
    font-weight: bold;
    text-align: center;
    font-size: 3.8vh;
    padding: 5vh 0 6vh 0;
}
.heading {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 100svh;
    display: grid;
    align-items: end;
}
.head_name {
    color: #ffffff;
    font-size: 4.8vh;  
    text-align: right;
    padding: 0 0 7vh 0;
}
.menu_main_text {
    color: #ffffff;
}
.content {
    width: 100%;
    height: auto;
}
.products {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding: 2vh 0;
}
.dots {
    padding: 20px 0;
  }
.slider_products {
    padding: 0 0 1vh 0;
}
.slider_item_prod {
    width: 1%;
    aspect-ratio: 1/1;
}
.product_slider {
    color: #ffffff;
    text-align: center;
    padding: 2vh 0 0 0;
    font-size: 1.8vh;
}
.prod {
    width: 93%;
    aspect-ratio: 1/1;
    transition: 0.3s;
    border-radius: 5%;
}
.prod:hover {
    transform: scale(0.9);
}
.prod1 {
    background: linear-gradient(180deg, rgba(0,0,0,0.8) 0%, rgba(0,212,255,0) 70%),
        url(../img/gyrCTF.jpg);
}
.prod2 {
    background: linear-gradient(180deg, rgba(0,0,0,0.8) 0%, rgba(0,212,255,0) 70%),
        url(../img/gyrinst.jpg);
}
.prod3 {
    background: linear-gradient(180deg, rgba(0,0,0,0.8) 0%, rgba(0,212,255,0) 70%),
        url(../img/transmisslines.jpg);
}
.prod4 {
    background: linear-gradient(180deg, rgba(0,0,0,0.8) 0%, rgba(0,212,255,0) 70%),
        url(../img/gyr.jpg);
}
.prod5 {
    background: linear-gradient(180deg, rgba(0,0,0,0.8) 0%, rgba(0,212,255,0) 70%),
        url(../img/window.jpg);
}
.prod6 {
    background: linear-gradient(180deg, rgba(0,0,0,0.8) 0%, rgba(0,212,255,0) 70%),
        url(../img/amplifier.jpg);
}
.statistic {
    display: flex;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 1vh 0 8vh 0;
}
.about {
    width: 65%;
    display: grid;
}
.row {
    display: flex;
}
.head_content {
    font-size: 3.8vh;
    padding: 0 0 2vh 0;
}
.fact_l {
    display: flex;
    width: 40%;
    padding: 3px 0;
}
.fact_r {
    display: flex;
    width: 60%;
    padding: 3px 0;
}
.num {
    font-size: 7.8vh;
    width: 40%;
    display: grid;
    align-items: end;
    font-weight: bold;
}
.info {
    font-size: 2.1vh;
    text-align: left;
    width: 60%;
    display: grid;
    align-items: end;
}
.adresses {
    width: 35%;
}
.office {
    font-size: 2.4vh;
    padding: 1vh 0;
}
.map_off {
    font-size: 2.1vh;
    padding: 0 0 1vh 0;
}
.second_div {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding: 7vh 0;
}
.news {
    width: 100%;
    height: auto;
}
.vacancy {
    padding: 0 0 0 20px;
    width: 40%;
}
.slider_news {
    padding: 2vh 0.5vh;
}
.slider_item_news {
    height: 100%;
}
.news_photo {
    width: 90%;
    aspect-ratio: 1/1;
    transition: 0.3s;
}
.news_photo:hover {
    transform: scale(0.9);
}
.ph {
    width: 100%; 
    height: 100%; 
    object-fit: cover;
    border-radius: 5%;
}
.data_news {
    padding: 3vh 0 0 0;
    font-size: 2.3vh;
}
.news_text {
    font-weight: bold;
    padding: 2vh 0;
    font-size: 1.8vh;
    width: 80%;
}
.vac_photo {
    width: 90%;
    aspect-ratio: 3/2;
    padding: 2vh 0;
}
.link_to {
    font-size: 2.2vh;
}
@media (aspect-ratio: 4/3) or 
        (aspect-ratio: 10/7) or 
        (aspect-ratio: 3/2) or 
        (aspect-ratio: 59/41) or 
        (aspect-ratio: 8/5){
    .products {
        width: 90%;
    }
    .menu_main_text {
        font-size: 1.6vh;
    }
    .product_slider {
        padding: 2vh 0.7vh
    }
    .statistic {
        width: 80%;
    }
    .num {
        font-size: 6vh;
    }
    .map_off {
        font-size: 2vh;
    }
    .second_div {
        width: 80%;
    }

}
@media screen and (max-width: 1024px) 
    and (not ((width:1024px) and (height:768px))) {
    .header, .heading {
        height: 43svh;
    }
    .heading {
        width: 80%;
    }
    .head_name {
        font-size: 2vh;
        padding: 0 0 3vh 0;
    }
    .header_burger_white, .header_burger_black {
        position: relative;
        width: 5vw;
        height: 2.3vh;
        margin: 0 6vw 0 0;
    }
    .header_burger_black {
        display: none;
    }
    .header_burger_white:before, .header_burger_white:after,
    .header_burger_black:before, .header_burger_black:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 0.3vh;
        left: 0;
    }
    .header_burger_white:before, .header_burger_white:after {
        background-color: #ffffff;
    }
    .header_burger_black:before, .header_burger_black:after {
        background-color: #000000;
    }
    .header_burger_white:before, .header_burger_black:before {
        top: 0;
        transition: all 0.5s ease 0s;
    }
    .header_burger_white:after, .header_burger_black:after {
        bottom: 0;
        transition: all 0.5s ease 0s;
    }
    .header_burger_white span, .header_burger_black span {
        position: absolute;
        left: 0;
        width: 100%;
        height: 0.3vh;
        top: 1vh;
        transition: all 0.5s ease 0s;
    }
    .header_burger_white span {
        background-color: #ffffff;
    }
    .header_burger_black span {
        background-color: #000000;
    }
    .header_menu {
        position: fixed;
        display: none;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transition: all 0.7s ease 0s;
    }
    .header_menu.active {
        display: inline;
    }
    .header_list {
        position: relative;
        padding: 7vh 0;
        width: 100%;
        justify-content: flex-start;
    }
    .header_burger_white.active:before,
    .header_burger_black.active:before {
        transform: rotate(45deg);
        transition: all 0.5s ease 0s;
        top: 1vh;
    }
    .header_burger_white.active:after,
    .header_burger_black.active:after {
        transform: rotate(-45deg);
        transition: all 0.5s ease 0s;
        bottom: 1vh;
    }
    .header_burger_white.active > span,
    .header_burger_black.active > span {
        transform: scale(0);
    }
    .home, .home_black, .home_mob, .home_mob_black {
        padding: 1vh 1.5vh;
        height: 5vh;
    }
    .inner {
        background-color: transparent;
    }
    .content {
        padding: 0;
    }
    .head_content_center_index {
        padding: 1vh 0 3vh 0;
        font-size: 2.5vh;
    }
    .products {
        width: 90%;
        padding: 2vh 0 0 0;
    }
    .product_slider {
        padding: 1.5vh 0.7vh;
        font-size: 1.3vh;
    }
    .statistic {
        display: grid;
        width: 85%;
        padding: 0.5vh 0;
    }
    .about {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .adresses {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .head_content {
        font-size: 2.5vh;
        padding: 1.5vh 0;
        text-align: center;
    }
    .off {
        display: flex;
    }
    .off_item {
        display: grid;
        width: 50%;
        padding: 0 5.5vw;
    }
    .office {
        font-size: 2vh;
    }
    .map_off {
        font-size: 1.6vh;
    }
    .num {
        font-size: 6vh;
    }
    .info {
        font-size: 1.6vh;
    }
    .second_div {
        padding: 0.5vh 0 3vh 0;
        width: 90%;
    }
    .data_news {
        padding: 1vh 0 0 0;
        font-size: 1.5vh;
    }
    .news_text {
        padding: 1vh 0;
        font-size: 1.2vh;
    }
    .link_to {
        font-size: 1.5vh;
    }
}
@media screen and (max-width: 425px) {
    .home, .home_black, .home_mob_black {
        display:none;
    }
    .home_mob {
        display: inline-block;
    }
    .num {
        font-size: 3.8vh;
        width:30%;
    }
    .info {
        font-size: 1.3vh;
    }
    .statistic {
        width: 90%;
    }
    .about {
        width: 90%;
    }
    .second_div {
        width: 85%;
        margin-left: auto;
        margin-right: auto;
    }
    .news {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
    .news_text {
        font-size: 1.2vh;
    }
    .slider_news, .link_to {
        padding: 0 0 0 5%;
    }
}
