.products {
    width: calc(25vw * 2 + 3vh * 4);
    margin-left: auto;
    margin-right: auto;
}
.prod_items {
    display: flex;
}
.prod_item {
    display: flex;
    flex-grow: 1;
    width: 25vw;
    margin: 3vh;
    aspect-ratio: 3/2;
    background-color: #f1f1f1;
    border-radius: 10%;
}
.prod_item:hover {
    background-color: #cecece;
}
.prod_text {
    width: 60%;
    padding: 3.5vh;
}
.prod_head {
    font-weight: bold;
    font-size: 2.1vh;
    padding: 0 0 1.5vh 0;
}
.prod_descr {
    font-size: 1.6vh;
}
.prod_photo {
    width: 40%;
    height: auto;
}
.ph {
    border-top-right-radius: 15% 10%;
    border-bottom-right-radius: 15% 10%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
