a {
    text-decoration: none;
}
.block {
    width: 75%;
    height: auto;
    padding: 5vh 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
.photo_line {
    width: 33%;
    aspect-ratio: 2/3;
    padding: 0 1vw;
}
.h_text {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-size: 2.5vh;
    font-weight: bold;
    padding: 1.5vh 0 1vh 0;
    text-align: center;
}
.text {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 2vh;
    padding: 2vh;
}
.char {
    height: 100%;
    border-radius: 5%;
    position: relative;
}
.charity_text {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #ffffff;
    bottom: 0;
    padding: 2vh 1.5vh;
    text-align: center;
    font-size: 1.8vh
}
.slider_char {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 3vh 0;
}
.slider_item_char {
    padding: 0 2.5vh;
}
@media screen and (max-width: 1024px) {
    .block {
        display: grid;
        padding: 5vh 0 2vh 0;
    }
    .photo_line {
        width: 100%;
        aspect-ratio: 3/2;
        padding: 1vh 0;
    }
    .char {
        border-radius: 5% 5%;
    }
}