.head_content_center {
    font-weight: bold;
    text-align: center;
    font-size: 2em;
    padding: 140px 0 1vh 0;
}
.head_content {
    font-weight: bold;
    font-size: 2em;
    padding: 1.5vh 0;
}
.content {
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 0 50px 0;
}
table {
    border-spacing: 0;
    padding: 15px 0;
}
.author {
    width: 30%;
    padding: 15px;
    font-size: 1.2em;
}
.name {
    width: 40%;
    padding: 15px;
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
}
.mag {
    width: 20%;
    padding: 15px;
    font-style: italic;
}
.link {
    width: 10%;
    padding: 15px 40px;
    align-items: center;
}
tr:nth-child(odd) {
	background-color: #f1f1f1;
}
.pdf {
    width: 40px;
    height: auto;
}