.products {
    width: calc(30vw * 2 + 2vw * 4);
    margin-left: auto;
    margin-right: auto;
}
.prod_items {
    display: flex;
}
.prod_item {
    display: flex;
    flex-grow: 1;
    width: 30vw;
    margin: 2vw;
    aspect-ratio: 3/2;
    background-color: #f1f1f1;
    border-radius: 10%;
}
.prod_item:hover {
    background-color: #cecece;
}
.prod_text {
    width: 60%;
    padding: 2.5vw;
}
.prod_head {
    font-weight: bold;
    font-size: 1.2vw;
    padding: 0 0 1.7vw 0;
}
.prod_descr {
    font-size: 1vw;
}
.prod_photo {
    width: 40%;
    height: auto;
}
.ph {
    border-top-right-radius: 15% 10%;
    border-bottom-right-radius: 15% 10%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
@media screen and (max-width: 1024px)
    and (not ((width:1024px) and (height:768px))) {
    .content {
        width: 90%;
    }
    .products {
        padding: 1vw;
        width: calc(40vw * 2 + 2vw * 4);
    }
    .prod_item {
        width: 40vw;
    }
    .prod_head {
        font-size: 1.8vw;
    }
    .prod_descr {
        font-size: 1.4vw; 
    }
    .prod_text {
        padding: 3vw;
    }
}
@media screen and (max-width: 425px) {
    .prod_items {
        display: grid;
    }
    .products {
        width: 100%;
    }
    .prod_item {
        width: 80%;
        margin: 2vh auto;
    }
    .prod_head {
        font-size: 1.7vh;
    }
    .prod_descr {
        font-size: 1.3vh; 
    }
    .prod_text {
        padding: 2.2vh;
    }
}
