a {
    text-decoration: none;
}
.block {
    width: 80%;
    height: auto;
    margin: 30vh 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
.first {
    margin: 8vh auto 25vh auto;
}
.end {
    margin: 30vh auto 15vh auto;
}
.h_text {
    font-size: 2.8vh;
    font-weight: bold;
    padding: 2vh;
    text-align: center;
}
.text {
    width: 50%;
    position: relative;
}
.t {
    position: absolute;               
    top: 50%;                         
    transform: translate(0, -50%);
}
.l {
    padding: 0 0 0 2vw;
}
.r {
    padding: 0 2vw 0 0;
}
.head_text {
    font-weight: bold;
    font-size: 4vh;
    padding: 2vh 0;
}
.description {
    padding: 1vh 0;
    font-size: 2.3vh;
}
.photo {
    width: 50%;
    height: auto;
    transition: 0.3s;
}
.photo:hover, 
.photo_line:hover, 
.row_item:hover {
    transform: scale(1.05);
}
.photo_line {
    width: 33%;
    aspect-ratio: 3/2;
    padding: 0 2vh;
    transition: 0.3s;
}
.photo_comp {
    display: flex;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.line, .comp {
    width: 100%;
    aspect-ratio: 3/2;
    transition: 0.3s;
    border-radius: 5%;
}
.comp1 {
    background: linear-gradient(180deg, rgba(0,0,0,0.8) 0%, rgba(0,212,255,0) 30%),
        url(../img/components_1.jpg);
    background-size: auto 100%;
}
.comp2 {
    background: linear-gradient(180deg, rgba(0,0,0,0.8) 0%, rgba(0,212,255,0) 30%),
        url(../img/components_2.jpg);
    background-size: 100% auto;
    background-position: 100% 0%;
}
.comp3 {
    background: linear-gradient(180deg, rgba(0,0,0,0.8) 0%, rgba(0,212,255,0) 30%),
        url(../img/components_3.jpg);
    background-size: 100% auto;  
}
.comp4 {
    background: linear-gradient(180deg, rgba(0,0,0,0.8) 0%, rgba(0,212,255,0) 30%),
        url(../img/components_4.jpg);
    background-size: auto 100%;
}
.comp5 {
    background: linear-gradient(180deg, rgba(0,0,0,0.8) 0%, rgba(0,212,255,0) 30%),
        url(../img/components_5.jpg);
    background-size: auto 100%;
}
.line1 {
    background: linear-gradient(180deg, rgba(0,0,0,0.8) 0%, rgba(0,212,255,0) 30%),
        url(../img/transmissline_1.jpg);
    background-size: auto 100%;
}
.line2 {
    background: linear-gradient(180deg, rgba(0,0,0,0.8) 0%, rgba(0,212,255,0) 30%),
        url(../img/transmisslines_2.jpg);
    background-size: cover;
}
.line3 {
    background: linear-gradient(180deg, rgba(0,0,0,0.8) 0%, rgba(0,212,255,0) 30%),
        url(../img/transmisslines_3.jpg);
    background-size: cover;
    background-position: 100% 85%;
}
.line4 {
    background: linear-gradient(180deg, rgba(0,0,0,0.8) 0%, rgba(0,212,255,0) 30%),
        url(../img/transmisslines_4.jpg);
    background-size: cover;
}
.line5 {
    background: linear-gradient(180deg, rgba(0,0,0,0.8) 0%, rgba(0,212,255,0) 30%),
        url(../img/transmisslines_5.jpg);
    background-size: cover;
}
.line6 {
    background: linear-gradient(180deg, rgba(0,0,0,0.8) 0%, rgba(0,212,255,0) 30%),
        url(../img/transmisslines_6.jpg);
    background-size: cover;
}
.line_text {
    color: #ffffff;
    padding: 2vh 2.5vh;
    font-size: 1.8vh;
    text-align: center;
}
.row_3 {
    display: flex;
    width: 66%;
    margin-left: auto;
    margin-right: auto;
}
.row_item {
    width: 100%;
    aspect-ratio: 3/2;
    padding: 0 2vh;
    transition: 0.3s;
}
.row_2 {
    display: flex;
    width: 33%;
    margin-left:auto;
    margin-right:auto;
}
@media screen and (max-width: 1024px){
    .block {
        display: grid;
        margin: 30vh auto;
    }
    .first {
        margin: 3vh auto 30vh auto;
    }
    .end {
        margin: 30vh auto 10vh auto;
    }
    .text {
        width: 90%;
        margin: 0 auto;
        display: grid;
    }
    .photo {
        width: 90%;
        margin: 0 auto;
    }
    .head_text {
        font-size: 2.2vh;
        text-align: center;
    }
    .description {
        text-align: justify;
        font-size: 1.6vh;
        padding: 1vh 0 2vh 0;
    }
    .t {
        position: relative;
        top: 0;
        transform: none;
    }
    .l, .r {
        padding: 0;
    }
    .head_content_center {
        padding: 3vh 5vw 1vh 5vw;
    }
    .h_text {
        font-size: 2.3vh;
    }
    .photo_line {
        width: 90%;
        padding: 2vh;
    }
    .row_3, .row_2, .photo_comp {
        display: grid;
        width: 90%;
        margin: 0 auto;
    }
    .row_item {
        padding: 2vh 0;
    }
}