a {
    text-decoration: none;
}
.block {
    width: 80%;
    height: auto;
    margin: 25vh 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
.stand {
    padding: 3vh;
    width: 50%;
}
.text {
    width: 50%;
    position: relative;
}
.t {
    position: absolute;               
    top: 50%;                         
    transform: translate(0, -50%);
}
.l {
    padding: 0 0 0 3vh;
}
.r {
    padding: 0 3vh 0 0;
}
.head_text {
    font-weight: bold;
    font-size: 3.8vh;
    padding: 1vh 0;
}
.description {
    padding: 1vh 0;
    font-size: 2.5vh;
}
.photo {
    width: 100%;
    height: auto;
    transition: 0.3s;
}
.photo:hover, .video:hover {
    transform: scale(1.05);
}
.vid {
    width: 50%;
    height: auto;
}
.first {
    margin: 5vh auto;
}
@media screen and (max-width: 1024px) {
    .content {
        width: 100%;
    }
    .block {
        width: 90%;
        margin: 5vh auto;
    }
    .first {
        margin: 2vh auto 5vh auto;
    }
    .head_text {
        font-size: 3vh;
    }
    .description {
        font-size: 1.4vh;
    }
}
@media screen and (max-width: 425px) {
    .block {
        display: grid;
        width: 100%;
        margin: 1vh auto 3vh auto;
    }
    .stand {
        width: 80%;
        margin: 0 auto;
        padding: 3vh 0;
    }
    .description {
        text-align: justify;
        padding: 3vh 0;
    }
    .text {
        width: 80%;
        margin: 0 auto;
        display: grid;
    }
    .t {
        position: relative;
        top: 0;
        transform: none;
    }
    .vid {
        width: 80%;
        padding: 0;
        margin: 0 auto;
    }
    .end {
        margin: 1vh auto 5vh auto;
    }
}
