a {
    text-decoration: none;
}
.block {
    width: 80%;
    height: auto;
    margin: 40vh 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
.first {
    margin: 15vh auto 40vh auto;
}
.end {
    margin: 40vh auto 15vh auto;
}
.text {
    width: 40%;
    position: relative;
}
.t {
    position: absolute;               
    top: 50%;                         
    transform: translate(0, -50%);
}
.l {
    padding: 0 0 0 3vh;
}
.r {
    padding: 0 3vh 0 0;
}
.head_text {
    font-weight: bold;
    font-size: 3.8vh;
    padding: 1vh 0;
}
.photo {
    width: 60%;
    height: auto;
    transition: 0.3s;
}
.photo:hover {
    transform: scale(1.05);
}
.dif {
    font-size: 3.6vh;
}
@media screen and (max-width: 1024px) {
    .content {
        width: 100%;
    }
    .block {
        width: 90%;
        margin: 5vh auto;
    }
    .head_text {
        font-size: 3vh;
    }
    .dif {
        font-size: 2.5vh;
    }
    .text {
        width: 60%
    }
}
@media screen and (max-width: 425px) {
    .block {
        display: grid;
        margin: 3vh auto;
    }
    .text {
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    .t {
        position: relative;               
        top: 0;                         
        transform: none;
    }
    .photo {
        width: 100%;
    }
    .l, .r {
        padding: 0;
    }
    .dif {
        font-size: 3vh;
    }
}
