.head_text {
    font-weight: bold;
    font-size: 3vh;
    padding: 1vh 0;
}
.description {
    padding: 2vh 3vw;
    font-size: 2vh;
}
.block {
    width: 50%;
    padding: 0 3vw;
}
.cont {
    display: flex;
}
.dir {
    font-size: 2.5vh;
    font-weight: bold;
}
.mail, .tel {
    font-size: 2.3vh;
    padding: 0.2vh 0;
}
.adr {
    font-size: 3vh;
    padding: 1vh 0;
}
@media screen and (max-width: 1024px) {
    .content {
        width: 100%;
    }
    .cont {
        display: grid;
        width: 90%;
        margin: 0 auto;
    }
    .block {
        width: 100%;
        padding: 0;
    }
    .map {
        height: 80vh;
        padding: 0 0 5vh 0;
    }
}