.head_content {
    text-align: center;
    font-size: 3.8vh;
    padding: 2vh 0;
}
.news {
    width: 90%;
    margin: 0 auto;
}
.news_item {
    display: flex;
    padding: 3vh 0;
    border-bottom: #000000 solid 1px;
}
.news_photo {
    width: 20%;
    aspect-ratio: 1/1; 
    transition: 0.3s;
}
.news_photo:hover {
    transform: scale(1.1);
}
.news_text {
    width: 80%;
    padding: 2vh 0 2vh 3vh;
}
.news_data {
    font-size: 2vh;
}
.news_head {
    font-size: 2.3vh;
    font-weight: bold;
    padding: 1vh 0;
}
.news_subtitle {
    font-size: 1.9vh;
}
:target { 
    scroll-margin-top: 580px; 
}